
body{
  background-color: beige;
  max-height: none;
  overflow-x: hidden; 
}

h1 {
  text-align:left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif-;
  color:darkslategray;
 
}
h2 {
  text-align:left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif-;
  color:darkslategray;
 
}
h3{
  text-align:left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif-;
  color:darkslategray;
 
}
p{
  text-align:left;
}
ul { 
  list-style-type: none; 
  overflow: hidden;
  background-color: darkslategray; 
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Adjusted to evenly distribute items */
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}
li {
  margin: 0; 
}

li a {
  display: block;
  color:white;
  text-align: center; 
  text-decoration: none;
  margin: 0;
}  

li:first-child {
  margin-left: 0; /* Remove margin for the first li element */
}


#home-photo {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

/*.page-content {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px; 
}*/

#overview {
  width: 600px;
  margin-left: 100px;
}

#vacs{
 
    width: 600px;
    margin-left: 100px;

  width: 500px;
  margin-left: 100px;
  /*flex: 70%*/
  float: left ; 
  /*width: 70%;*/
}

.articles img{
  border-radius: 10px;
}

.articles{
  float: right ; 
  width: 30%;
}

.homearticles{
  float: right ; 
  width: 30%;
}

.newsroom{
  margin-left: 100px;
}

.preloaderLottie{
  text-align: center;
  justify-content: center;
}


  width: 500px;
  margin-left: 100px;
  /*flex: 70%*/
  float: left ; 
  /*width: 70%;*/
}

.articles img{
  border-radius: 10px;
}

.articles{
  float: right ; 
  width: 30%;
}

.homearticles{
  float: right ; 
  width: 30%;
}

.newsroom{
  margin-left: 100px;
}